extends shared/layout

block content
	div#container.container.pageindex
		.row
			.panel.panel-primary
				.panel-heading
					p 人员管理
				.panel-body
					.row.search_row
						div.col-md-3.col-xs-5.pull-right
							div.input-group
								input.form-control(type='text' placeholder="请输入真名")
								span.input-group-btn
									button.btn.btn-default(type="button") 查询
					table#dgForPeople(style="width:auto")
						thead(frozen='true')
							tr
								th(data-options="field:'_operate'" align="center" formatter="util.initOperateWithPwd" width="80") 操作
						thead
							tr
								th(data-options="field:'_id'" width="1" hidden=true) _id
								th(data-options="field:'account'" width="80") 账号
								th(data-options="field:'realname'" width="80") 真名
								th(data-options="field:'phone',editor:{type:'text'}" width="80") 手机
								th(data-options="field:'email',editor:{type:'text'}" width="100") 邮箱
								th(data-options="field:'school_year',editor:{type:'combobox',options:{data:commonData.getSchoolYear(),valueField:'value',textField:'text'}}" width="40") 入学年份
								th(data-options="field:'major',editor:{type:'combobox',options:{data:commonData.getMajor(),valueField:'value',textField:'text'}}" width="100") 专业
								th(data-options="field:'description',editor:{type:'text'}" width="100" ) 自我描述
								th(data-options="field:'isdel',editor: { type: 'combobox', options: { data: commonData.getYesOrNoData(), valueField: 'value', textField: 'text' }}" width="60"  formatter='Common.YesOrNoFormat') 是否禁用
						tbody
	script(type='text/javascript').                                                  
		var local_data =!{JSON.stringify(data)};   
	script
		include ../public/javascripts/viewscripts/index.js
	include shared/footer.jade
