extends shared/layout

block content
	div.container
		div.row
			div.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
				div.page-header
					h1 登陆
				form(class='form-signin' method='post' role='form' action='/login?code=#{randomcode}')
					div.row
						div.col-sm-3.col-md-2
							label 帐号
						div.col-sm-9.col-md-10
							input(id='account' name='account' type='text' class='form-control' placeholder='User Name' required autofocus)
					div.row
						div.col-sm-3.col-md-2
							label 密码
						div.col-sm-9.col-md-10
							input(id='password' name='password' type='password' class='form-control' placeholder='Password' required)
							div.row
						div.col-sm-3.col-md-2
							label 验证码
						div.col-sm-9.col-md-10#vercode
							p.col-sm-6.col-md-6
								input(id='imgcode' name='imgcode' type='text' class='form-control' placeholder='Verification Code' required)
							p.col-sm-6.col-md-6
								img(src="/generatecode" required)
					div.row
						div.col-sm-3.col-md-2
							button(class='btn btn-primary btn-block' type='submit') 登  陆
						div.col-sm-9.col-md-10#errorinfo
							if(error)
								div(role="alert").alert.alert-danger
									| #{error}
	include shared/footer.jade
