extends shared/layout

block content
	div#container.container.pageindex
		.row
			.panel.panel-primary
				.panel-heading
					p 团队管理
				.panel-body
					.row.search_row
						div.col-md-3.col-xs-3
							button#btnaddteam.btn.btn-info(type="button") 新增团队
						div.col-md-3.col-xs-5.pull-right
							div.input-group
								input.form-control(type='text' placeholder="请输入团队名称")
								span.input-group-btn
									button.btn.btn-default(type="button") 查询
					table#dgForTeam(style="width:auto")
						thead(frozen='true')
							tr
								th(data-options="field:'_operate'" align="center" formatter="util.initOperateWithPwd" width="80") 操作
						thead
							tr
								th(data-options="field:'_id'" width="1" hidden=true) _id
								th(data-options="field:'teamname',editor:{type:'text'}" width="80") 团队名称
								th(data-options="field:'description',editor:{type:'text'}" width="120" ) 团队描述
								th(data-options="field:'isdel',editor: { type: 'combobox', options: { data: commonData.getYesOrNoData(), valueField: 'value', textField: 'text' }}" width="60") 是否禁用
						tbody
	script(type='text/javascript').                                                  
		var local_data =!{JSON.stringify(data)};   
	script
		include ../public/javascripts/viewscripts/team.js
	include shared/footer.jade
